<nav class="navbar navbar-expand-lg  navbar-light bg-dark navbar-dark ">
  <a class="navbar-brand" href="<%= root_path %>">Darkonnen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse container-fluid navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link">
            <%= current_user.email %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <%= State.where(user_id: current_user.id, completed: true).count %> | 9
        </a>
      </li>
        <li>
          <a class="nav-link" href="<%= destroy_user_session_path %>" data-method="delete"> Log out </a>
        </li>
      <% else %>
        <li>
          <a class="nav-link" href="<%= new_user_session_path %>"> Login </a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
